{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUP</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="body">
        <header>
            <div class="logo">
                <div class="img_box">
                    <img src="{% static 'images/imdg_3.jpg' %}" alt="Green World">
                </div>
                <a href="{% url 'index' %}"> Green World</a>
            </div>
                
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'favorites' %}">My Plants</a></li>
                <li><a href="{% url 'process_question' %}">Plant Queries</a></li> 
                <li><a href="{% url 'register' %}">SignUP</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </li>
            </ul>
        </header>

        <div class="container" id="register">
            <h1>Welcome Back</h1>
            <p>Create Your new account</p>
            <form method="POST" action="{% url 'register' %}" id="signup-form">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" name="username" id="id_username" maxlength="150" required placeholder="Username">
                    {% if form.username.errors %}
                        <div class="error-message">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="input-field">
                    <input type="email" name="email" id="id_email" required placeholder="Email">
                    {% if form.email.errors %}
                        <div class="error-message">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <div class="input-field">
                    <input type="password" name="password1" id="id_password1" required placeholder="Password">
                    {% if form.password1.errors %}
                        <div class="error-message">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>

                <div class="input-field">
                    <input type="password" name="password2" id="id_password2" required placeholder="Password confirmation">
                    {% if form.password2.errors %}
                        <div class="error-message">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
                <div class="show-password">
                    <input type="checkbox" id="show-password-checkbox"> Show Password
                </div>
                <button type="submit" class="submit-btn">Register</button>
            </form>
            
            <a href="{% url 'login' %}" class="signup-link">Already have an account? Login</a>
        </div>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>

